.card{
    margin: 15px auto;
    border-color: rgba(9, 255, 0, 0.733);
}

.edit{
    margin: 5px;
    color: #fff;
}
.delete{
    margin: 5px;
    color: black;
 
}


.card:hover{
    
    border-color: rgb(11, 132, 231);
    
}
.data{
    font-size: 12px;
}