.card{

    margin: 15px auto;
    border-color: rgb(255, 179, 80);
 
   
}

.edit{
    margin: 5px;
    color: #fff;
}
.delete{
    margin: 5px;
    color: black;
 
}


.card:hover{
    border-color: rgb(11, 132, 231);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.data{
    font-size: 12px;
}
.check{

    width: 18px;
    height: 18px;
    position: relative;
    margin: 20px auto;
    box-shadow: inset 0px 1px 1px rgb(255, 245, 190), 0px 1px 3px rgba(0,0,0,0.5);

}