.card{

    margin: 15px auto;
    border-color: rgb(255, 179, 80);
 
   
}

.edit{
    margin: 5px;
    color: #fff;
}
.delete{
    margin: 5px;
    color: black;
 
}


.card:hover{
    border-color: rgb(11, 132, 231);
    transition: cubic-bezier();
}
.data{
    font-size: 12px;
}