.searchBar{
    width: 100% auto;
    height: 100px;
    /* background-color: whitesmoke; */
    background-image: radial-gradient(gold,silver);

  
}

.date {
    margin:  5px;
    float: left;
    margin:  5px;
    
}